* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}

section {
  height: 100vh;
  color: black;
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}

.card-1{
  top: -450px;
  left: 35%;
  position: relative;
  border-radius: 20%;
  overflow: hidden;
  width:100px;
  height:100px;
  transition: 0.1s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 26);
  cursor: pointer;
}
.card-2{
  top: -550px;
  left: 45%;
  position: relative;
  border-radius: 20%;
  overflow: hidden;
  width:100px;
  height:100px;
  transition: 0.1s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 26);
  cursor: pointer;
}
.card-3{
  top: -650px;
  left: 55%;
  position: relative;
  border-radius: 20%;
  overflow: hidden;
  width:100px;
  height:100px;
  transition: 0.1s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 26);
  cursor: pointer;
}