* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}

section {
  height: 100vh;
  color: black;
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}

.card{
  position: relative;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.26);
  overflow: hidden;
  display: inline-block;
  margin: 10px;
  max-width: 180px;
}

.con{
  text-align: center;
  margin-top: 200px;
}